@charset "UTF-8";
/*Typical Device Breakpoints
-----------------------------
Pequenas: até 600px
Celular: de 600px até 768px
Desktop: 992px até 1200px
Grandes: acima de 1200px
*/
@media screen and (min-width: 768px) and (max-width: 992px){
    body{
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }
    section#login{
        width: 90vw;
        height: 45vh;
    }
    div#imagem{
        border-top-right-radius: 0px;
        float: left;
        width: 30%;
        height: 100%;
    }
    div#formulario{
        float: right;
        width: 70%;
    }
    .caixa input{
        width: 85%;
    }
}
@media screen  and (min-width: 992px){
    body{
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }
    section#login{
        width: 90vw;
        height: 45vh;
    }    
    div#imagem{
        border-top-left-radius: 0px;
        float: right;
        width: 50%;
        height: 100%;
    }
    div#formulario{
        float: left;
        width: 50%;
    }
    .caixa input{
        width: 85%;
    } 
}