@charset "UTF-8";

:root{
    --cor1: #49a09d;
    --cor2: #5f2c82;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body, html{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: var(--cor2);
    width: 100vw;
    height: 100vh;
}
section#login{
    background-color: white;
    display: block;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 505px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}
div#imagem{
    background-image: url(../imagens/imagem-login.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 175px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: block;
}
div#formulario{
    height: 240px;
    padding: 0px 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: block;
}
div#formulario h1{
    text-align: center;
    padding: 10px 0px;
    font-weight: bolder;
}
div#formulario p{
    text-align: justify;
    font-size: 1em;
}
.caixa{
    background-color: var(--cor2);
    border-style: none;
    border-radius: 10px;
    padding: 3.2px;
    margin: 5px;
    position: relative;
}
.caixa input{
    transform: scale(1.08) translate(5%, -3%);
    border-radius: 10px;
    height: 35px;
    width: 170px;
}
.material-symbols-outlined{
    color: white;
    transform: translate(10%, 20%);
}
.but{
    padding: 12.5px;
    margin: 2.5px;
    width: 225px;
    font-size: 1em;
    border-radius: 10px;
    border-color: var(--cor1);
    color: rgba(0, 0, 0, 0.6);
}
input#corbut{
    background-color: var(--cor1);
    color: rgba(255, 255, 255, 0.9);
    border-style:  none;
}
input#corbut::after{
    font-family: 'Material-Symbols-Outlined';
    content: "\e158";
}
span#mail{
    color: var(--cor1);
    transform: translate(725%, -180%) scale(0.8);
}